# node modules
node_modules/

# build folder
dist/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# vscode settings
.vscode/

# TypeScript build info
*.tsbuildinfo